// Utilities
@use "../utilities/colors";
@use "../utilities/fonts";

// Styles for todo app container
.todo-app {
    $self: &;

    // Decoration background
    &__header-background {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 200px;

        background-image: url("/src/images/bg-mobile-light.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: background-image 300ms ease-out;

        @media screen and (min-width: 600px) {
            height: 300px;

            background-image: url("/src/images/bg-desktop-light.jpg");
        }

        #{ $self }--dark & {
            background-image: url("/src/images/bg-mobile-dark.jpg");

            @media screen and (min-width: 600px) {
                background-image: url("/src/images/bg-desktop-dark.jpg");
            }
        }
    }

    // Main app content
    &__content {
        position: relative;

        padding: 25px;

        @media screen and (min-width: 600px) {
            padding: 0;
            margin: 0 auto;

            width: 80%;
        }

        @media screen and (min-width: 1024px) {
            width: 60%;
        }

        @media screen and (min-width: 1440px) {
            width: 540px;
        }
    }

    // App header
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px 0;
        margin-bottom: 15px;
    
        @media screen and (min-width: 600px) {
            margin: 60px 0 18px 0;
        }
    }

    &__title {
        font-size: 1.8em;
        letter-spacing: 10px;
        color: white;

        @media screen and (min-width: 600px) {
            font-size: 2.5em;
        }
    }

    &__theme-changer {
        position: relative;

        width: 20px;
        height: 20px;

        border: none;
        outline: none;
        background-color: transparent;

        @media screen and (min-width: 600px) {
            width: 25px;
            height: 25px;
        }

        &--active {
            #{ $self }__theme-icon:nth-child(1) {
                transform: translateY(-150%);
                opacity: 0;
            }

            #{ $self }__theme-icon:nth-child(2) {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }

    &__theme-icon {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        transition: transform 200ms ease-out,
                    opacity 100ms ease-out;

        &:nth-child(2) {
            transform: translateY(150%);
            opacity: 0;
        }
    }

    // Add todo
    &__add-todo {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding: 14px 20px;
        margin-bottom: 15px;

        background-color: white;
        transition: background-color 150ms ease-out;
        border-radius: 5px;

        @media screen and (min-width: 600px) {
            padding: 17px 20px;
            margin-bottom: 24px;
        }

        #{ $self }--dark & {
            background-color: colors.$Very-Dark-Desaturated-Blue;
        }
    }

    &__new-todo-name {
        display: block;

        width: 100%;
    }

    &__new-todo-input {
        width: 100%;

        border: none;
        outline: none;
        transition: background-color 150ms ease-out;

        color: colors.$Very-Dark-Grayish-Blue;
        font-family: fonts.$Josefin-Sans;

        @media screen and (min-width: 600px) {
            height: 30px;

            font-size: 1.2em;
        }

        &::placeholder {
            font-family: fonts.$Josefin-Sans;
            color: colors.$Dark-Grayish-Blue-a;
            font-size: 0.9em;
            font-weight: 400;

            @media screen and (min-width: 600px) {
                font-size: 1em;
            }

            #{ $self }--dark & {
                color: colors.$Dark-Grayish-Blue-b;
            }
        }

        #{ $self }--dark & {
            background-color: colors.$Very-Dark-Desaturated-Blue;

            color: colors.$Light-Grayish-Blue-b;
        }
    }

    // Wrapper for todos container and under todos
    &__wrapper {
        margin-bottom: 15px;

        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 10px 16px rgba(colors.$Very-Dark-Grayish-Blue, 0.15);

        @media screen and (min-width: 1024px) {
            margin-bottom: 0;
        }

        #{ $self }--dark & {
            box-shadow: 0 10px 16px rgba(colors.$Very-Dark-Blue, 0.15);
        }
    }

    // Todos container
    // &__todos-container {}

    // Under todos
    &__under-todos {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px;

        background-color: white;
        transition: background-color 150ms ease-out;

        @media screen and (min-width: 600px) {
            padding: 18px 20px;
        }

        #{ $self }--dark & {
            background-color: colors.$Very-Dark-Desaturated-Blue;
        }
    }

    &__items-left-text {
        color: colors.$Dark-Grayish-Blue-a;
        font-size: 0.75em;
        font-weight: 400;

        @media screen and (min-width: 600px) {
            font-size: 0.8em;
        }

        #{ $self }--dark & {
            color: colors.$Very-Dark-Grayish-Blue-a;
        }
    }

    &__clear-completed-button {
        border: none;
        outline: none;
        background-color: transparent;

        color: colors.$Dark-Grayish-Blue-a;
        font-family: fonts.$Josefin-Sans;
        font-size: 0.75em;

        @media screen and (min-width: 600px) {
            font-size: 0.8em;
        }

        &:hover {
            cursor: pointer;
        }

        #{ $self }--dark & {
            color: colors.$Very-Dark-Grayish-Blue-a;

            &:hover {
                color: colors.$Light-Grayish-Blue-hover;
            }
        }
    }

    // Filtering tools
    &__filtering-tools {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 16px;
        margin-bottom: 40px;

        background-color: white;
        border-radius: 5px;
        box-shadow: 0 5px 20px rgba(colors.$Very-Dark-Grayish-Blue, 0.05);
        transition: background-color 150ms ease-out;

        @media screen and (min-width: 1024px) {
            margin: 0 auto 5px auto;

            width: 250px;

            transform: translateY(-100%);
            box-shadow: none;
        }

        #{ $self }--dark & {
            background-color: colors.$Very-Dark-Desaturated-Blue;
        }
    }

    &__tool {
        display: block;

        &:nth-child(2) {
            margin: 0 20px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__tool-input {
        display: none;

        &:checked {
            ~ #{ $self }__tool-text {
                color: colors.$Bright-Blue;
            }
        }
    }

    &__tool-text {
        font-size: 0.9em;
        font-weight: 700;
        color: colors.$Dark-Grayish-Blue-a;

        #{ $self }--dark & {
            color: colors.$Very-Dark-Grayish-Blue-a;

            &:hover {
                color: colors.$Light-Grayish-Blue-hover;
            }
        }
        
    }

    // Message
    &__message {
        text-align: center;
        color: colors.$Dark-Grayish-Blue-a;
        font-size: 0.9em;

        #{ $self }--dark & {
            color: colors.$Very-Dark-Grayish-Blue-a;
        }
    }
}
