// Utilities
@use "../utilities/colors";

// Styles for iscomplete component
.iscomplete {
    $self: &;

    &__label {
        display: block;
    }

    &__checkbox {
        display: none;

        &:checked {
            ~ #{ $self }__custom-checkbox {
                border: none;
                background-image: linear-gradient(colors.$Check-Background-a, colors.$Check-Background-b);

                .body--dark &:hover {
                    border: none;
                    background-image: linear-gradient(colors.$Check-Background-a, colors.$Check-Background-b);
                } 
            }

            ~ #{ $self }__custom-checkbox #{ $self }__custom-checkbox-icon {
                display: block;
            }
        }
    }

    &__custom-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        margin-right: 10px;

        width: 20px;
        height: 20px;

        background-color: transparent;
        border: solid 1px colors.$Very-Light-Grayish-Blue;
        border-radius: 50%;

        @media screen and (min-width: 600px) {
            margin-right: 20px;
            
            width: 25px;
            height: 25px;
        }

        &:hover {
            border: double 1px transparent;
            background-image: linear-gradient(white, white),
                              radial-gradient(circle at top left, colors.$Check-Background-a, colors.$Check-Background-b);
            background-origin: border-box;
            background-clip: content-box, border-box;
            cursor: pointer;

            .body--dark &:hover {
                border: double 1px transparent;
                background-image: linear-gradient(colors.$Very-Dark-Desaturated-Blue, colors.$Very-Dark-Desaturated-Blue),
                                  radial-gradient(circle at top left, colors.$Check-Background-a, colors.$Check-Background-b)
            }
        }

        .body--dark & {
            border-color: colors.$Very-Dark-Grayish-Blue-a;
        }
    }

    &__custom-checkbox-icon {
        display: none;

        width: 50%;
        height: 50%;
    }
}
