// Utilities
@use "../utilities/colors";

// Styles for todo component
.todo {
    $self: &;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 20px;

    background-color: white;
    transition: background-color 150ms ease-out;
    border-bottom: solid 1px colors.$Very-Light-Grayish-Blue;

    @media screen and (min-width: 600px) {
        padding: 19.5px 20px;
    }

    &:hover {
        #{ $self }__delete-button {
            opacity: 1;
        }
    }

    &--completed {
        #{ $self }__text {
            text-decoration: line-through;
            color: colors.$Light-Grayish-Blue-a;

            .body--dark & {
                color: colors.$Very-Dark-Grayish-Blue-a;
            }
        }
    }

    .body--dark & {
        background-color: colors.$Very-Dark-Desaturated-Blue;
        border-color: colors.$Very-Dark-Grayish-Blue-b;
    }

    &__text {
        margin-right: 10px;

        flex: 1;
        text-align: left;
        font-size: 0.75em;
        color: colors.$Very-Dark-Grayish-Blue;
        font-weight: 400;

        @media screen and (min-width: 600px) {
            font-size: 1.2em;
        }

        .body--dark & {
            color: colors.$Light-Grayish-Blue-b;
        }
    }

    &__delete-button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 12px;
        height: 12px;

        border: none;
        transition: opacity 200ms ease-out;
        background-color: transparent;

        @media screen and (min-width: 600px) {
            width: 18px;
            height: 18px;
        }

        @media screen and (min-width: 1200px) {
            opacity: 0;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__delete-icon {
        width: 100%;
        height: 100%;
    }
}
